body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background: #ff4c68;
}
h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5 ;
    font-size: 3.5rem;
}
.pad{
    padding: 3% 15%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.bnmg{
    margin-right: 1.5rem;
    margin-bottom: 2.5rem;
}
#features{
    padding: 7% 15%;
}
h3{
    font-family: 'Montserrat', sans-serif bold;
}
.fga{
    text-align: center;
}
#icon-img{
    color: #ef8172;
    margin-bottom: 1rem;
}
#icon-img:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ef8172;
    padding: 7% 15%;
    text-align: center;
    color: #ffff;
}
h2{
    font-family: 'Montserrat Bold';
    font-size: 3rem;
    line-height: 1.5;
}
.test-img{
    border-radius: 100%;
    width: 15%;
    margin-right: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-img{
    width: 15%;
    margin: 20px;
}